@import '../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../../../node_modules/bootstrap/dist/css/bootstrap.css';

.btn {
  border-radius: 0;
}

.inventory-body {
  position: fixed;
  min-width: 100%;
  background-image: url("../../../assets/img/bgquiz.jpg");
  background-repeat: no-repeat;
  background-position:right;
  background-size: 20% 50%;
  
  }
.option {
  background-color:#cadaee;
  font-size:20px;
  padding:10px;
  margin:3px;
}
  #quiz .options input[type=checkbox] {
      height:22px;
      width:22px;
  }

.cursor-pointer {
  cursor: pointer;
}

.result-question {
  background-color:#eee;
  margin:4px;
  padding:6px;

}
#progressbar {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  /* (height of inner div) / 2 + padding */
  padding: 1px;
}

#progressbar>div {
  background-color: rgb(0, 204, 255);

  /* Adjust with JavaScript */
  height: 10px;
  border-radius: 10px;
}
@media only screen and (max-width: 480px) {
  h1,.h1{
      font-size:22px;
  }
  h2,.h2{
      font-size:20px;
  }
  h3,.h3{
      font-size:18px;
  }
  .option {
      font-size: 16px;
      padding: 6px;
  }
}
